<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IStudent1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:59251/Student.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IStudent1" contract="ServiceReference.IStudent"
                name="BasicHttpBinding_IStudent1" />
        </client>
    </system.serviceModel>
</configuration>